<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
	<img src="https://unsplash.it/30/30" class="mr-2">
	<a class="navbar-brand text-light" href="{% url 'home' %}">Home</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbar-body" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-body">
		<ul class="navbar-nav mr-auto">
			{% if request.user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signup' %}">Signup</a>
			</li>
			{% endif %}
		</ul>
		<form class="d-flex" role="search">
			<input class="form-control me-2" name ="search" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-primary text-light" type="submit">Search</button>
		</form>
	</div>
</nav>